{% extends "base.html" %}

{% block title %}{% trans "New snippet" %}{% endblock %}
{% block headline %}<h1>{% trans "Paste a new snippet" %}</h1>{% endblock %}

{% block content %}
<h2>{% trans "New snippet" %}</h2>
<form method="post" action"." class="snippetform">
<ol>
	{{ snippet_form.as_ul }}
	<li class="submit">
    <input type="submit" value="{% trans "Paste it" %}"/>
	</li>
</ol>
</form>
{% endblock %}


{% block sidebar %} 
    <h2>{% trans "WHAT_IS_THIS_TITLE" %}</h2>
    {% trans "WHAT_IS_THIS_DESCRIPTION" %}	
{% endblock %}
