{% extends "base.html" %}
{% load mptt_tags %}

{% block extrahead %}
     {% if request.session.userprefs %}
     <style type="text/css" media="all">
         .code{
             {# FIXME: Thats stupid #}
             {% ifnotequal request.session.userprefs.font_family "None" %}font-family: {{ request.session.userprefs.font_family }} !important;{% endifnotequal %}
             {% ifnotequal request.session.userprefs.font_size "None" %}font-size: {{ request.session.userprefs.font_size }}px !important;{% endifnotequal %}
             {% ifnotequal request.session.userprefs.line_height "None" %}line-height: {{ request.session.userprefs.line_height }}px !important;{% endifnotequal %}
         }
     </style>
     {% endif %}
{% endblock %}

{% block title %}Snippet #{{ snippet.pk }}{% endblock %}
{% block headline %}
    <h1>
        Snippet #{{ snippet.pk }}
        {% if snippet.parent_id %}
            (Copy of <a href="{{ snippet.parent.get_absolute_url }}">snippet #{{ snippet.parent.id }}</a>)
        {% endif %}
        <span class="date">{{ snippet.published|date:_("DATETIME_FORMAT") }} (UTC)</span>
    </h1>
{% endblock %}

{% block content %}
<div id="diff" style="display:none;">diff</div>

<div class="accordion">
    {# --------------------------- Snippet Details --------------------------- #}
    <h2>
        {% if snippet.title %}{{ snippet.title }}{% else %} Snippet #{{ snippet.id }}{% endif %}
        <span>{% if snippet.author %}by {{ snippet.author }}{% endif %}</span>
    </h2>
    <div class="container">
        <div class="snippet">
        <table>
            <tr>
                <th><pre class="code">{% for l in lines %}<a href="#l{{ forloop.counter }}" id="l{{ forloop.counter }}">{{ forloop.counter }}</a>{% endfor %}</pre></th>
                <td><pre class="code">{{ snippet.content_highlighted|safe }}</pre></td>
            </tr>
        </table>
        </div>
    </div>

    {# --------------------------- Snippet Answer --------------------------- #}
    <h2>Write an answer &rarr;</h2>
    <div class="container" style="display: none;">
        <form method="post" action"." class="snippetform">
        <ol>
        	{{ snippet_form.as_ul }}
        	<li class="submit">
        		<input type="submit" value="Paste it"/>
        	</li>
        </ol>
        </form>
    </div>
</div>
{% endblock %}



{% block sidebar %}
{# --------------------------- History Tree --------------------------- #}
    <h2>History</h2>

    <form method="get" id="diffform" action="{% url snippet_diff %}">
    <div class="tree">
    	{% for tree_item,structure in tree|tree_info %}
		{% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
        <div>
        <span class="diff">
            <input type="radio" name="a" value="{{ tree_item.id }}" {% ifequal tree_item.id snippet.parent_id %}checked="checked"{% endifequal %}/>
            <input type="radio" name="b" value="{{ tree_item.id }}" {% ifequal snippet tree_item %}checked="checked"{% endifequal %}/>
        </span>
		{% ifequal snippet tree_item %}
            <strong>{{ tree_item }}</strong>
       {% else %}
            <a href="{{ tree_item.get_absolute_url }}">{{ tree_item }}</a>
		{% endifequal %}
        </div>
        {% for level in structure.closed_levels %}</li></ul>{% endfor %}
        {% endfor %}
        <div class="submit">
            <input type="submit" value="Compare"/>
        </div>
    </div>
    </form>

    <h2>Options</h2>
    <p><a href="{% url snippet_details_raw snippet.id %}">View raw</a></p>
{% endblock %}

{% block script_footer %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.5.2/jquery-ui.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function(){
	$("div.accordion").accordion({
	   autoHeight: false,
	   header: 'h2',
	   animation: 'bounceslide',
	   duration: 2000,
	});

	$("form#diffform").submit(function() {
		$.get("{% url snippet_diff %}", {
			a: $("input[name=a]:checked").val(),
			b: $("input[name=b]:checked").val()
		}, function(data){
			$('#diff').html(data).slideDown('fast');
		});
		return false;
	});
});
</script>
{% endblock %}
